html, body {
    margin: 0;
    height: 100%;
}

body.dragged-file-over {
    background-color: rgba(0,0,0,0.1);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #30A643;
    z-index: 998;
}

.tagline {
    opacity: 0.6;                 
    margin-bottom: 0px;
}

.wrap {
    min-height: 100%;
}

.content {
    overflow: auto;
    padding-top: 64px;
    padding-bottom: 50px;
}

footer {
    position: relative;
    margin-top: -50px;
    clear: both;
} 

footer .tagline {
    text-align: center;

}

.row {
    margin-bottom: 0px;
}

nav ul li:hover, nav ul li.active {
    background-color: #319032;
}

.upload-label {
    font-size: 1rem;
}

.upload-label input[type="file"] {
    display: none;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

#conversationsView {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* limit participants to 50% width */
#conversationsView thead th:first-of-type {
    width: 50%;
}

#conversationsView td {
    padding: 15px;
}

.tablesorter-header {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-repeat: no-repeat;
    background-position: center right;
    white-space: normal;
    cursor: pointer;
}

.tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}

.tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}

#conversationView h4 {
    text-align: center;
}

#conversationView .card-panel {
    text-align: center;
}

#emojiNotSupported {
    color: #9F6000;
    background-color: #FEEFB3;
}

#emoji g.c3-chart-arc text {
    font-size: 3em;
}

#emojiFrequency_byParticipant span.no-emoji {
    height: 320px;
    line-height: 320px;
    font-style: italic;
}

#conversationContent .word-cloud {
    width: 100%;
    height: 400px;
}

#csvInfo {
    font-size: 0.75em;
}

ul.tabs .indicator {
    background-color: #30A643;
}

ul.tabs li.tab a {
    color: #30A643;
}

ul.tabs li.tab a:hover {
    color: #319032;
}

.loading {
    position: absolute;
    margin: auto;
    width: 64px;
    height: 64px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
